<app-header></app-header>
<section class="mui-content mui-scroll-wrapper">
  <div class="mui-scroll">
    <div class="mui-row m-search-container">
      <div class="mui-input-row u-search-container">
        <input type="text" class="u-search-input" placeholder="搜索商品"/>
        <!--<input type="text" class="mui-input-clear u-search-input"/>-->
        <span  class="u-search-iconcontainer"><i class="u-search-icon"></i>搜索</span>
      </div>

      <div class="mui-row m-hotSearch-container">
        <p class="u-hotSearch-txt">热门搜索{{goodsName}}</p>
        <ul class="m-hotSearch-lists">
          <!--<li class="mui-col-sm-4 mui-col-xs-4 m-hotSearch-item"><span>手机</span></li>-->
          <!--<li class="mui-col-sm-4 mui-col-xs-4 m-hotSearch-item"><span>手机</span></li>-->
          <!--<li class="mui-col-sm-4 mui-col-xs-4 m-hotSearch-item"><span>手机</span></li>-->
          <!--<li class="mui-col-sm-4 mui-col-xs-4 m-hotSearch-item"><span>手机</span></li>-->
          <!--<li class="mui-col-sm-4 mui-col-xs-4 m-hotSearch-item"><span>手机</span></li>-->
          <!--<li class="mui-col-sm-4 mui-col-xs-4 m-hotSearch-item"><span>手机</span></li>-->
        </ul>
      </div>
    </div>

  </div>

</section>
<app-footer></app-footer>
