<div  class="mui-content">
  <app-header></app-header>
  <ul class="mui-table-view m-list-container">
    <li class="mui-table-view-cell u-name-container">
      <div class="u-name-left-container"><img src="../../assets/img/headimage.jpg"></div>
      <div class="u-name-right-container">
        <div>juelly</div>
        <div>账号：taoli</div>
        <a class="mui-navigate-right"></a>
      </div>
    </li>
  </ul>
    <ul class="mui-table-view m-list-container m-list-item">
    <li class="mui-table-view-cell">
      <a class="mui-navigate-right" routerLink="/personal/account">账号与安全</a>
    </li>
  </ul>

  <ul class="mui-table-view m-list-container m-list-item">
    <li class="mui-table-view-cell">
      <a class="mui-navigate-right">新消息通知</a>
    </li>
    <li class="mui-table-view-cell">
      <a class="mui-navigate-right">隐私</a>
    </li>
    <li class="mui-table-view-cell">
      <a class="mui-navigate-right">通用</a>
    </li>
  </ul>

  <ul class="mui-table-view m-list-container m-list-item">
    <li class="mui-table-view-cell">
      <a class="mui-navigate-right">关于<span class="u-right-txt">V3.1.0</span></a>
    </li>
  </ul>

</div>
