
<div class="mui-navbar-inner mui-bar mui-bar-nav">
  <button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
    <span class="mui-icon mui-icon-left-nav"></span>
  </button>
  <h1 class="mui-center mui-title">设置手势密码</h1>
</div>

<div class="mui-content">
  <div class="mui-content-padded" style="margin: 10px 0px;">
    <div class="mui-locker" data-locker-options='{"ringColor":"rgba(221,221,221,1)","fillColor":"#ffffff","pointColor":"rgba(0,136,204,1)","lineColor":"rgba(0,136,204,1)"}' data-locker-width='320' data-locker-height='320'>
    </div>
  </div>
</div>
