
<div class="mui-scroll-wrapper">
  <div class="mui-scroll">
    <!--这里放置真实显示的DOM内容-->
    <div class="mui-content ">
      <div class="mui-navbar-inner mui-bar mui-bar-nav">
        <button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
          <span class="mui-icon mui-icon-left-nav"></span>
        </button>
        <h1 class="mui-center mui-title">购物车</h1>
      </div>

      <div class="m-cart-nothing-container">
        <div>
          <p>登录后可同步电脑和手机购物车</p>
          <span class="u-nothing-icon"><img src="../../assets/img/nothing.png"/></span>
          <p>购物车暂无商品</p>
        </div>
        <h4>去逛逛</h4>
      </div>

      <div class="m-hotsale-container">
        <div class="m-hotsale-title">
          <h4>看看热卖</h4>
          <hr/>
        </div>
        <div class="mui-row ">
          <ul class="m-hotsale-products-lists">
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div style="position: fixed; right: 2%; top: 80%; z-index: 3; cursor: pointer;display: none" class="syj">
    <img src="../../assets/img/1.png" alt="">
  </div>
</div>

