<div class="mui-content">
  <div class="top-bar">
    <div id="tabbar" class="mui-control-content mui-active input-header">
      <div class="mui-input-row mui-search search-header">
        <input type="search" class="mui-input-clear my-search-input" placeholder="请输入您所搜索的商品"/>
      </div>
    </div>
    <span class="login-txt">登录</span>
  </div>


  <div class="content-list">

    <ul class="lists">
      <li class="list-item">
        <span class="pic-shape pic-bg-classfy"></span>
        <span>全部分类</span>
      </li>
      <li class="list-item">
        <span class="pic-shape pic-bg-jifen"></span>
        <span>积分商城</span>
      </li>
      <li class="list-item">
        <span class="pic-shape pic-bg-pinpai"></span>
        <span>品牌街</span>
      </li>
      <li class="list-item">
        <span class="pic-shape pic-bg-youhui"></span>
        <span>优惠活动</span>
      </li>
      <li class="list-item">
        <span class="pic-shape pic-bg-tuangou"></span>
        <span>团购</span>
      </li>
      <li class="list-item">
        <span class="pic-shape pic-bg-order"></span>
        <span>我的订单</span>
      </li>
      <li class="list-item">
        <span class="pic-shape pic-bg-cart"></span>
        <span>购物车</span>
      </li>
      <li class="list-item">
        <span class="pic-shape pic-bg-pintuan"></span>
        <span>我要拼团</span>
      </li>
    </ul>
  </div>
  <ul class="mui-row banner">
    <li class="mui-col-sm-6 mui-col-xs-12 time">16点场<span>0时8分2秒</span><span> 限时限量</span> <a class="mui-navigate-right"></a></li>
    <li class=" mui-col-sm-6 mui-col-xs-12 txt"><span>暂无抢购商品</span></li>
  </ul>

</div>

<app-footer></app-footer>

