<div class="mui-content">
  <div class="mui-row pic-list-container hot-container">
    <strong class="title-txt"> 热销商品</strong>
<div class="bg-color">
    <div class="mui-col-sm-6 mui-col-xs-6 pic-list">
        <a class="">
          <img src="../../../assets/img/hot-product-pic1.jpg" />
        </a>
    </div>
  <div class="mui-col-sm-6 mui-col-xs-6 pic-list">
      <a class="">
        <img src="../../../assets/img/hot-product-pic2.jpg" />
      </a>
  </div>
    <div class="mui-col-sm-12 mui-col-xs-12 pic-list pic-list-pic3">
        <a class=" ">
          <img src="../../../assets/img/hot-product-pic3.jpg"/>
        </a>
    </div>
  </div>
  </div>
</div>
